.hoverText {
    transition:
      0.35s font-weight,
      0.35s color;
  }
  
  .hoverText:hover {
    font-weight: 900;
    color: rgba(254, 255, 238, 0.998);
  }
  
  /* To the right */
  .hoverText:hover + .hoverText {
    font-weight: 500;
    color: rgba(254, 253, 199, 0.719);
  }
  
  .hoverText:hover + .hoverText + .hoverText {
    font-weight: 300;
  }
  
  /* To the left */
  .hoverText:has(+ .hoverText:hover) {
    font-weight: 500;
    color: rgba(251, 254, 199, 0.783);
  }
  
  .hoverText:has(+ .hoverText + .hoverText:hover) {
    font-weight: 300;
  }